<h1 class="name">Brian Hogue</h1>
<hr>
<h4 class="title"><%= fa_icon "diamond" %> Ruby on Rails developer</h4>
<ul>
  <li><h4><%= link_to "Home", root_path %></h4></li>
  <li><h4><%= link_to "Resume", home_resume_path %></h4></li>
  <li><h4><%= link_to "Design", home_design_path %></h4></li>
  <li><h4><%= link_to "Code", home_code_path %></h4></li>
  <li><h4><%= link_to "About", home_about_path %></h4></li>
</ul>
<hr>
