<div class="name-color">
  <h1 class="name">Brian Hogue</h1>
  <hr>
</div>
<div class="title">
    <li><%= fa_icon "diamond", style: "color: #B1433D" %> Ruby on Rails developer</li>
</div>
<div class="menu">
  <ul>
    <li><%= link_to "About", home_about_path %></li>
    <li><%= link_to "Code", home_code_path %></li>
    <li><%= link_to "Design", home_design_path %></li>
    <li><%= link_to "Resume", home_resume_path %></li>
    <li><%= link_to "Writing", home_writing_path %></li>
    <li><%= link_to "Home", root_path %></li>
  </ul>
</div>
<hr>
