<p>
<ul class="social">
  <li><h4>
    <%= link_to "https://twitter.com/BrianJHogue", target: "_blank" do %>
      <%= fa_icon "twitter-square" %>
    <% end %>
  </h4></li>
  <li><h4>
    <%= link_to "https://www.linkedin.com/in/brianjhogue", target: "_blank" do %>
      <%= fa_icon 'linkedin-square' %>
    <% end %>
  </h4></li>
  <li><h4>
    <%= link_to "https://github.com/syzygy333", target: "_blank" do %>
      <%= fa_icon "github-square" %>
    <% end %>
  </h4></li>
  <li><h4>
    <%= mail_to "brianjonashogue@gmail.com" do %>
      <%= fa_icon "envelope-square" %>
    <% end %>
  </h4></li>
</ul>
</p>
