<p>
<ul class="social">
  <li><h4>
    <%= link_to "https://twitter.com/BrianJHogue" do %>
      <%= fa_icon "twitter-square" %>
    <% end %>
  </h4></li>
  <li><h4>
    <%= link_to "https://www.linkedin.com/in/brianjhogue" do %>
      <%= fa_icon 'linkedin-square' %>
    <% end %>
  </h4></li>
  <li><h4>
    <%= link_to "https://github.com/syzygy333" do %>
      <%= fa_icon "github-square" %>
    <% end %>
  </h4></li>
</ul>
</p>
