<%= render "navigation" %>
<div class="small-12 medium-6 large-4 columns">
  <p class="content">
    I've also done freelance print design. Here are a few examples of the work I've done. All of these and more — with explanations — can be seen on my portfolio blog, <%= link_to "Work By BHogue", "http://bybhogue.wordpress.com", target: "_blank" %>.
  </p>
  <%= image_tag "https://bybhogue.files.wordpress.com/2015/01/fireseedalliancefr.jpg?w=1200&h=", alt: "Fireseed Alliance business card", class: "content" %>
  <%= image_tag "https://bybhogue.files.wordpress.com/2014/08/ldna1.png", alt: "Lowell Downtown Neighborhood Association logo", class: "content" %>
  <%= image_tag "https://bybhogue.files.wordpress.com/2013/08/prp2wlogos.jpg?w=700&h=", alt: "Lowell Film Collaborative poster", class: "content" %>
  <%= render "social" %>
</div>
