<div class="overlay home">
  <%= render "navigation" %>
  <div class="small-12 medium-6 large-4 columns">
    <p class="content">
      I don't always blog, but when I do, I blog about the things that get me jazzed.
    </p>
    <h4 class="header-link"><%= link_to "My Medium", "https://medium.com/@BrianJHogue" %></h4>
    <p class="content">
      A few musings about learning to code in the days leading up to attending Launch Academy.
    </p>
    <h4 class="header-link"><%= link_to "The Record Record", "https://therecordrecord.wordpress.com/" %></h4>
    <p class="content">
      Wherein I yell about my rather random music thoughts brought on by listening to my collection.
    </p>
    <h4 class="header-link"><%= link_to "Stuff I've Kept", "http://stuffivekept.blogspot.com/" %></h4>
    <p class="content">
      A catalog detailing certain things that have astonished me with their resiliency in surviving so many moves.
    </p>
    <%= render "social" %>
  </div>
</div>
